<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>分类管理</title>

</head>
<body>
<!--导航栏-->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment"></nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href = "@{/admin/types/input}" class="teal item">新增</a>
            <a href="#" th:href = "@{/admin/types}" class="active item">列表</a>
        </div>
    </div>
</div>
<br>
<br>
<!--中间内容区-->
<div>
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}"></p>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>分类名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${type.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination mini menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="mini item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="mini item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/types/input}" class="ui right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment"></footer>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.message .close').on('click',function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>